services:
  frontend:
    container_name: kupipodariday-frontend
    build:
      context: frontend
      dockerfile: Dockerfile
    ports:
      - "8081:80"
    depends_on:
      - backend
    networks:
      - frontend
      - backend

  backend:
    container_name: kupipodariday-backend
    build:
      context: backend
      dockerfile: Dockerfile
    ports:
      - "4000:3001"
    depends_on:
      - database
    env_file:
      - ./backend/.env
    networks:
      - backend
    restart: unless-stopped

  database:
    container_name: kupipodariday-db
    image: postgres:17-alpine
    env_file:
      - ./backend/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend

volumes:
  postgres_data:

networks:
  frontend:
  backend: